/* Global */
body{
    font-family: 'Montserrat', sans-serif;
}

/* header */

#title {
    background-color: #ff4d79;
    color: #fff;
}

h1 {
    margin-top: 50px;
    max-width: 600px;
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

h3{
    font-weight: bold;
}

p{
    color:rgb(134, 133, 133);
}

.btn{
    margin-top: 30px;
    margin-right: 15px;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size:1.5rem;
    font-weight: 400;
}

/* Download Buttons */

.download-btn{
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image{
    margin-left: 25%;
    width: 60%;
    transform:rotate(10deg);
}

/* Feature Section */
#features{
    padding:7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 1rem;
    color: #fc6b90;
}

.icon:hover{
    color:#ff4d79;
}

/* Testimonial */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:#fc6b90 ;
    color:#fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100% ;
    margin: 20px;
}

/* Press */

#press{
    background-color: #fc6b90;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}